<hr>
<h2 class="w3-center">Accordions</h2>
<button onclick="myAccFunc('Company')" class="w3-padding-16 w3-theme w3-button w3-block w3-left-align">Company Details</button>
<div id="Company" class="w3-hide">
  <div class="w3-container">
    <p>Company Details such as name, website, email etc</p>
  </div>
</div>
<button onclick="myAccFunc('Sectors')" class="w3-padding-16 w3-theme w3-button w3-block w3-left-align">Sectors</button>
<div id="Sectors" class="w3-hide">
  <a href="#" class="w3-button w3-block w3-left-align">Engineering</a>
  <a href="#" class="w3-button w3-block w3-left-align">Healthcare</a>
  <a href="#" class="w3-button w3-block w3-left-align">Financial</a>
</div>
<button onclick="myAccFunc('Languages')" class="w3-padding-16 w3-theme w3-button w3-block w3-left-align">Languages</button>
<div id="Languages" class="w3-hide w3-black">
  <div class="w3-container">
    <p>Accordion with Images:</p>
    <img src="C-Programming.jpg" style="width:30%;" class="w3-animate-zoom">
    <p>C</p>
  </div>
</div>

