<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="siteHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i> 
  <div class="w3-center">
    <h4>Unix Middleware</h4>
    <h1 class="w3-xxxlarge w3-animate-bottom">BUILT WITH W3.CSS</h1>
    <div class="w3-padding-32">
      <button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="document.getElementById('sitemap').style.display='block'" style="font-weight:900;">Site Map</button>
    </div>
  </div>
</header>
