<hr>
<h2 class="w3-center">Navigation</h2>

<div class="w3-bar w3-theme">
  <a href="#" class="w3-bar-item w3-button w3-padding-16">Home</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-16">About</a>
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-padding-16">
      Assignments <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="/assignments/Allen%20Bradley.html" class="w3-bar-item w3-button">Allen Bradley</a>
      <a href="/assignments/ICL%20Medicl.html" class="w3-bar-item w3-button">ICL Medicl</a>
      <a href="/assignments/Racal%20Redac.html" class="w3-bar-item w3-button">Racl Redac</a>
    </div>
  </div>
</div>
