<!-- Modal -->
<div id="sitemap" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
      <header class="w3-container w3-theme-l1"> 
        <span onclick="document.getElementById('sitemap').style.display='none'"
        class="w3-button w3-display-topright">×</span>
      </header>
      <div class="w3-padding">
        <p><a class="w3-btn" href="/assignments">Assignments</a></p>
        <p><a class="w3-btn" href="/sectors">Sectors</a></p>
        <p><a class="w3-btn" href="/frameworks">Frameworks</a></p>
        <p><a class="w3-btn" href="/code">Code</a></p>
      </div>
      <footer class="w3-container w3-theme-l1">
        <p>Unix Middleware &copyright;2020</p>
      </footer>
    </div>
</div>
