<hr>
<h2 class="w3-center">Tabs</h2>
<div class="w3-border">
<div class="w3-bar w3-theme">
  <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'Sectors')">Sectors</button>
  <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'Languages')">Languages</button>
  <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'Frameworks')">Frameworks</button>
</div>

<div id="Sectors" class="w3-container city w3-animate-opacity">
  <h2>Engineering</h2>
  <a href="/assignments/Allen%20Bradley.html">Allen Bradley</a>
  <a href="/assignments/Racal%20Redac.html">Racal Redac</a>
</div>

<div id="Languages" class="w3-container city w3-animate-opacity">
  <h2>Languages</h2>
  <a href="/assignments/BT%20Ipswich.html">C at BT Ipswich</a> 
  <a href="/assignments/Racal%20Redac.html">C at Racal Redac</a> 
</div>

<div id="Frameworks" class="w3-container city w3-animate-opacity">
  <h2>Frameworks</h2>
  <a href="/assignments/Capital%20One.html">Tomcat at Capital One Bank</a>
  <a href="/assignments/Ikano.html">Something at Ikano</a>
</div>
</div>
