<hr>
<h2 class="w3-center">Tabs</h2>
<div class="w3-border">
<div class="w3-bar w3-theme">
  <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'TabSectors')">Sectors</button>
  <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'TabLanguages')">Languages</button>
  <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'TabFrameworks')">Frameworks</button>
</div>

<div id="TabSectors" class="w3-container city w3-animate-opacity">
  <h2>Engineering</h2>
  <ul>
    <li><a href="/assignments/Allen%20Bradley.html">Allen Bradley</a></li>
    <li><a href="/assignments/Racal%20Redac.html">Racal Redac</a></li>
  </ul>
  <h2>Finance</h2>
  <ul>
    <li><a href="/assignments/Capital%20One.html">Capital One</a></li>
    <li><a href="/assignments/ReAssure.html">ReAssure</a></li>
  </ul>
</div>

<div id="TabLanguages" class="w3-container city w3-animate-opacity">
  <h2>Languages</h2>
  <ul>
    <li><a href="/assignments/BT%20Ipswich.html">C at BT Ipswich</a></li>
    <li><a href="/assignments/Racal%20Redac.html">C at Racal Redac</a></li>
  </ul>
</div>

<div id="TabFrameworks" class="w3-container city w3-animate-opacity">
  <h2>Frameworks</h2>
  <ul>
    <li><a href="/assignments/Capital%20One.html">Tomcat at Capital One Bank</a></li>
    <li><a href="/assignments/Ikano.html">Something at Ikano</a></li>
  </ul>
</div>
</div>
